{% load humanize %}

<div class="product_list">
    {% for p in products.products %}
        <div class="product">
            <div class="img">
                {% if p.p_image or p.v_image %}
                    <img src="{% if p.v_image %}{{ p.v_image }}{% else %}{{ p.p_image }}{% endif %}">
                {% else %}
                    <div>No picture available</div>
                {% endif %}
            </div>
            <div>{{ p.p_name }}</div>
            <div class="price">{{ p.price_major | intcomma }}<small>.{{ p.price_minor_str }}</small></div>
            {% if p.score and p.score_10 > 0 %}<strong>{{ p.score_10 }}/10</strong>{% endif %}
        </div>
    {% endfor %}
</div>
