{% load humanize %}

<hr>

<div style="overflow: hidden">
    {% if products.count.total > 0 %}
    <span>Showing {{ products.count.from }} {% if products.count.total > 1 %}to {{ products.count.to }}{% endif %} of {{ products.count.total }}</span>
    {% endif %}

    <select style="float: right" onchange="setOrder(this.value)">
        {% for o in order.options %}
            <option value="{{ o.code }}"{% if o.code == order.current %} selected{% endif %}>{{ o.label }}</option>
        {% endfor %}
    </select>
</div>

<hr>

<div class="product_list">
    {% if products.count.total > 0 %}
        {% for p in products.products %}
            <div class="product">
                <a href="/product/{{ p.v_id }}-{{ p.v_slug }}" style="text-decoration: none">
                    <div class="img">
                        {% if p.p_image or p.v_image %}
                            <img src="{% if p.v_image %}{{ p.v_image }}{% else %}{{ p.p_image }}{% endif %}">
                        {% else %}
                            <div>No picture available</div>
                        {% endif %}
                    </div>
                </a>
                <div>
                    <a href="/product/{{ p.v_id }}-{{ p.v_slug }}" style="text-decoration: none">{{ p.p_name }}</a>
                </div>
                <div class="price">{{ p.price.formatted_html|safe }}</div>

                {% if p.rating.10 %}
                    {% include "_rating.html" with readonly=True rating=p.rating.10 %}
                {% endif %}

                <div>
                {% if p.in_basket %}
                    <button disabled>In basket</button>
                {% else %}
                    <button onclick="setBasket({{ p.v_id }}, 1, true, this)">Add to basket</button>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No products found</p>
    {% endif %}
</div>

<hr>
