{% spaceless %}
<form method="post" id="abc">
    {% csrf_token %}
    <input type="hidden" name="form_name" value="{{ form_name }}">
    <input type="hidden" name="state" value="{{ state }}">

    <div>
        <label>Full name:</label>
        <input name="full_name" required>
    </div>
    <div>
        <label>Address #1:</label>
        <input name="address_1" required>
    </div>
    <div>
        <label>Address #2:</label>
        <input name="address_2" required>
    </div>
    <div>
        <label>Address #3:</label>
        <input name="address_3">
    </div>
    <div>
        <label>Address #4:</label>
        <input name="address_4">
    </div>
    <div>
        <label>Address #5:</label>
        <input name="address_5">
    </div>
    <div class="d-none">
        <label>State:</label>
        <select name="country_state">
        </select>
    </div>
    <div>
        <label>Country:</label>
        <select name="country" onchange="salebox.utils.addressCountryStates('abc')">
            <option value=""></option>
            {% for c in countries %}
                <option value="{{ c.id }}"{% if c.id == form.country.value %} selected{% endif %}>{{ c.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label>Postcode:</label>
        <input name="postcode" required><br />
    </div>
    <label>Use as default address? <input type="checkbox" checked name="default"></label><br />
    <input type="submit"  value="Add address">
</form>
<script>var saleboxCountryState={{ states|safe }};</script>
{% endspaceless %}
